@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');




.work-sans-font {

  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
}

.shape{
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
  }
  
.list-icon{
display: none;
}

.header{
    margin: 0 100px;
    justify-content: space-between;
}
/* shared styles */
.display-flex{
    display: flex;
}
.brand{
   color:rgba(230, 83, 60, 1);
   font-weight: 800;
   line-height: 18px;
   font-size: 35px;
}
/* drak 02 */
.text-gray{
    color: rgba(255, 255, 255, 1);
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}

/* header styles */
.navbar{
    justify-content: space-between;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    
}

.nav-links{
    width: 500px;
    border: 2px solid rgba(128, 128, 128, 0.362);
    font-size: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
}

.nav-link{
    text-decoration: none;
    
}
.nav-link-1{
    background-color:rgba(230, 83, 60, 1) ;
    padding: 8px 20px;
    border-radius: 30px;
    
}

.banner{

    color: rgba(255, 255, 255, 1);
    width: 600px;
    height: auto; 
    }

    .banner h1{
        font-size: 75px;
    }
    .banner p{
        color:  rgba(255, 255, 255, 0.5);
        margin-bottom: 30px;
        text-align: start;
    }

.btn-1{
    background-color:rgba(230, 83, 60, 1) ;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    border-radius:40px;
    padding: 15px 40px;
}
.btn-2{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    border-radius:40px;
    padding: 15px 40px;

}

.banner-section {
    
    justify-content: space-between;
    align-items: center;
    height: 620px;
    width: 100%;
    margin-top:50px;
    
}

/* banner-picture1 */

.images{
    
    width: 450px;
    height: 100%;
    margin-right: 30px;
    background-image: url(../images/Images2.png);
    background-position: center;
    background-size: cover;
}

.img-box-one{
    width: 180px;
    max-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin-top: 100px;
    margin-left: 280px;
    background-color:rgba(128, 128, 128, 0.682);
    line-height: 5px;
    border: none;
    border-radius: 12px;
}
.img-box-one h2{
    font-size: 50px;
}

.img-box-two{
    width: 206px;
  max-height: 96px;
  align-items: center;
  padding: 15px 10px;
  margin-top: 150px;
  margin-left: -120px;
  background-color: rgba(128, 128, 128, 0.682);
  border: none;
  
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgb(230, 83, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*changs your habits */

.main{
    width: 1300px;
    margin-top: 100px;
    margin: 0 auto;
    color: white;
}
.habits-container{

margin: 100px 0;

}
.text-box{
   text-align: center;
}
.text-box p{
    color:#ffffff9f ;
}
.text-box h2{
    font-size: 50px;
}
.four-habits{
    margin-top: 50px;
    display: flex;
   justify-content: space-between;
} 
.img-round img{
    width: 100%;
   border-radius: 100%;
}
.img-round{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-round h2,p{
text-align: center;
}
.img-round p{
    color: #ffffff9f;
}


/* run-img-style */

.run{

    width: 100%;
    height: 450px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.run-text{
    width: 500px;
    padding: 20px;
    displ
}


.run-text h2{
    font-size: 50px;
}
.run-text p{
    text-align: start;
    color:#ffffff9f; ;
}
.run-img{
    width: 500px;
    padding: 30px;
    /* border: 2px solid salmon; */
}
.run-img img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  
}
.btn-run{
    background-color:rgb(230, 83, 60) ;
    padding: 16px 60px;
    border-radius:42px;
    font-size: 25px;
    color: white;
    margin-top: 40px;
       
}


/* Trainings and Exercises */



/* BMI CALCULATOR */


.main-box-tbl{
    width: 100%;
    margin: 100px 0;
   
}

.bmi-table{
    width: 700px;
    color: white;
    margin: 0 auto;
  
}

.bmi-table h2{
 font-size:50px;
}
.bmi-table p{
    color: #9e9999;
    text-align: start;
}

.table-form{
    width: 100%;
    height: 500px;
    margin: 50px auto;
   justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: rgba(64, 62, 62, 0.466);
}

.table{
    color: white;
    height: 100%;
    
}

table{
    border-collapse: collapse;
}
.table h2{
    font-size: 35px;
    font-weight: bolder;
}
th{
    font-weight: bolder;
}
td{
 color:darkgray ;
}

th, td{
    padding: 15px 50px;
    border: 2px solid white;
}

/* form */
.form{
    padding: 10px;
    width: 500px;
    height: 100%;
}

.form h2{
    font-size: 35px;
    font-weight: bolder;
}

.form p{
    text-align: start;
}

input{
    margin-bottom: 10px;
    padding:15px 10px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(68, 66, 66) ;
    border: none;
}
.sex-bar{
    padding:15px;
    width: 48.5%;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(68, 66, 66);
    color: gray;
    border: none;
}

.long{
    width: 98%;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(68, 66, 66);
    color: gray;
    border: none;
   
}

.btn{
    margin-top:  30px;
    background-color:tomato ;
    padding: 13px 70px;
    border-radius: 30px;
    font-weight: 700px;
    font-size: 22px;
    color: white;

    
}

/* Meet Our Team */

.main-meet-team{
    background-color: black;
}

.meet-text{
    text-align: center;
    margin-bottom: 80px;
}
.meet-text h2{
    font-size: 50px;  
}
.meet-text p{
    color:gray;
    text-align: center;
}
.bg-div{
    margin: 0 auto;
    width: 1300px;
   border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.515);
}
.img{
    position:relative ;
    margin: 0 auto;
    border-radius: 30px;
    width: 410px;
    height: 350px;
}
.img h2{
position: absolute;
left: 10px;
bottom: 20px;
}
.img p{
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: rgb(159, 155, 155);
}

.item-one{
    background-image: url(../images/trainer1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item-two{
    background-image: url(../images/trainer2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item-three{
    background-image: url(../images/trainer3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item-four{
    background-image: url(../images/trainer4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item-five{
    background-image: url(../images/trainer5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item-six{
    background-image: url(../images/trainer6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* footer-fitness */

footer{
    width: 100%;
    height: 450px;
    margin-top: 100px;
    background-color: #72727263;
}
.footer h2{
    font-size: 25px;
}

.footer-container{
height: 100%;
width:90%;
margin: 0 auto;

}


.footer-items-content{
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    
}
.fitness{
    width: 500px;
}

.fitness h2{
    color:#E6533C;
    font-size: 60px;
    font: bolder;
    font-style: italic;
}

.fitness p{
    color: #ffffff8a;
    text-align: start;

}

.footer-second{
    width: 300px;
    text-align: start;

}
.footer-second h2{
    font-size: 40px;
}
.footer-second p{
font-size: 20px;
color:#ffffff8a;
text-align: start;
}
.footer-third{
    width: 300px;
}
.footer-third h2{
    font-size: 40px;   
}
.footer-third p{
    font-size: 20px;
    color: #ffffff8a;
    text-align: start;
}
.footer-end{
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid white; 
    color: gray;
    font-size: 20px;
}












@media screen and (max-width:576px){
 
    body{
        margin: 0;
    }
.header{
    width: 90%;
    margin:0 auto;
    padding: 0;

}

.brand{
   font-size: 35px;
}


/* header styles */
.navbar{
    justify-content: space-between;
   
}

.list-icon{
    display: flex;
    align-items: center;
    font-size: 30px;
}


.nav-links{
    display: none;
}

.banner{
    padding: 0 30px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: auto; 
    margin-bottom: 50px;
    }

    .banner h1{
        font-size: 60px;
    }

.banner-section {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex-direction: column;

    
}

/* banner-picture1 */

.images{
    width: 100%;
    height: 750px;
    margin: 0 auto;
    background-position: top;
    
}

.img-box-one{
 margin-top: 50px;   
}

.img-box-two{
 margin-left: 30px;
 margin-top: 180px;  
}


.main{
    width: 90%;
    margin: 0 auto;

}
.habits-container{
/* border: 2px solid white; */
margin: 100px 0;

}

.text-box h2, p{
    text-align: center;
}

.four-habits{
    /* border: 4px solid green; */
    flex-direction: column;
   
} 

.img-round{
    /* border: 2px solid white; */
    width: 300px;
    margin: 20px auto;
}


/* <!-- Run an Extra Mile Easily --> */


.run{

    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    flex-direction: column;
}
.run-text{
    width: 100%;
}
.run-img{
    width: 90%;
    padding: 20px;
    /* border: 2px solid salmon; */
    margin: 0 auto;
}

.btn-run{
   width: 90%;
   margin: 0 auto;
      
}


/* BMI Calculator */

.main-box-tbl{
    width: 100%;
   
}

.bmi-table{
    width: 90%;
    margin: 0 auto;
  
}
.table-form{
    padding: 30px 0;
    width: 100%;
    height: 100%;
    margin: 50px 0;
    flex-direction: column;
    background-color: rgba(64, 62, 62, 0.466);
}

.table{
    width: 90%;
    color: white;
    height: 100%;
    
}


/* form */
.form{
    padding: 10px;
    width: 500px;
    height: 100%;
}









/* Meet Our Team */

.main-meet-team{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.meet-text{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.bg-div{
    margin: 30px auto;
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    padding: 40px 30px;
}
.img{
    
    margin: 0 auto;
    width: 90%;
}

.item-one{
  
    background-position:top;
    
}
.item-two{
    background-position:top;
}
.item-three{
    background-position:top;
}
.item-four{
    background-position:top;
}
.item-five{
    background-position:top;
}
.item-six{
    background-position:top;

}


/* footer-fitness */

.footer{
    width: 100%;
    height: 100%;
    background-color: #72727263;
    margin: 0 auto;
}
.footer-container{
height: 100%;
width:90%;
margin: 0 auto;

}


.footer-items-content{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    flex-direction: column;

    
}
.fitness{
    width: 100%;
}

.footer-second{
    width: 100%;

}

.footer-third{
    width: 100%;
}

}